#header{
 min-height:200px;
 background:#f00;
}
div.floor{
 min-height:200px;
 }
 #footer{
   background:#e4393c;
   min-height:200px;
 }
 #contactBar {
    width: 40px;
    height: 100%;
    background: #222;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    padding-top: 120px;
    box-sizing: border-box;
    text-align: center;
    transition: all 0.4s ease;
}